$BUTTON_SIZE:16vmin;

.home{
  position:relative;
  z-index:0;
}

.background{
  z-index:-1;
  position:fixed;
  left:0;
  top:0;
}

.waiting{
  position:relative;  
  padding-top:5vmin;
}
.waiting__camera{
  display:block;
  width:50vmin;
  height:50vmin;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:5vmin;
}
.waiting__camera--joined{
  opacity:0;
  pointer-events: none;
}

.waiting__join{
  display:block;
  margin-left:auto;
  margin-right:auto;
  font-size:5vmin;
}
.waiting__population{
  display:block;
  width:50vmin;
  margin-left:auto;
  margin-right:auto;
  font-size:5vmin;
}


.controller{
  position:fixed;
  pointer-events: none;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
@mixin button{
  position:absolute;
  pointer-events: auto;
  user-select:none;
  width:$BUTTON_SIZE;
  height:$BUTTON_SIZE;
  border-radius: $BUTTON_SIZE * 0.1;
  background:rgba(255,255,255,0.5);
  border:1px solid #000;
  font-size:$BUTTON_SIZE * 0.3;
  cursor:pointer;
  touch-action: none;
  text-align: center;
  box-sizing: border-box;
  padding-top:$BUTTON_SIZE *0.25;
}

.controller__moveforward{
  @include button();
  left:$BUTTON_SIZE * 1;
  bottom:$BUTTON_SIZE * 1;
}
.controller__moveleft{
  @include button();
  left:$BUTTON_SIZE * 0;
  bottom:$BUTTON_SIZE * 0;
}
.controller__movebackward{
  @include button();
  left:$BUTTON_SIZE * 1;
  bottom:$BUTTON_SIZE * 0;

}
.controller__moveright{
  @include button();
  left:$BUTTON_SIZE * 2;
  bottom:$BUTTON_SIZE * 0;
}

.controller__cameraup{
  @include button();
  right:$BUTTON_SIZE * 1;
  bottom:$BUTTON_SIZE * 1;
}
.controller__cameraleft{
  @include button();
  right:$BUTTON_SIZE * 2;
  bottom:$BUTTON_SIZE * 0;
}
.controller__cameradown{
  @include button();
  right:$BUTTON_SIZE * 1;
  bottom:$BUTTON_SIZE * 0;

}
.controller__cameraright{
  @include button();
  right:$BUTTON_SIZE * 0;
  bottom:$BUTTON_SIZE * 0;
}


