$BUTTON_SIZE:16vmin;

@mixin realButton{
  display:block;
  margin-left:auto;
  margin-right:auto;
  font-size:5vmin;
}

.home{
  position:relative;
  z-index:0;
}

.background{
  z-index:-1;
  position:fixed;
  left:0;
  top:0;
}

.waiting{
  position:relative;  
  padding-top:5vmin;
}
.waiting__camera{
  display:block;
  width:50vmin;
  height:50vmin;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:5vmin;
}
.waiting__camera--joined{
  opacity:0;
  pointer-events: none;
}

.waiting__join{
  @include realButton();
  margin-bottom:5vmin;
}
.waiting__howto{
  @include realButton();
}
.waiting__population{
  display:block;
  width:50vmin;
  margin-left:auto;
  margin-right:auto;
  font-size:5vmin;
}

.howto{
  // 指定できないのでプログラムで指定する
}
.howto__title{
  text-align:center;
  font-size:5vmin;
  margin-bottom:5vmin;
}
.howto__text{
  text-align:center;
  font-size:2.5vmin;
  margin-bottom:2.5vmin;
}
.howto__image{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50vw;
  height:auto;
  margin-bottom:5vw;
}
.howto__close{
  @include realButton();
}

.controller{
  position:fixed;
  pointer-events: none;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
@mixin fakeButton{
  position:absolute;
  pointer-events: auto;
  user-select:none;
  width:$BUTTON_SIZE;
  height:$BUTTON_SIZE;
  border-radius: $BUTTON_SIZE * 0.1;
  background:rgba(255,255,255,0.5);
  border:1px solid #000;
  font-size:$BUTTON_SIZE * 0.5 !important;
  cursor:pointer;
  touch-action: none;
  text-align: center;
  box-sizing: border-box;
  padding-top:$BUTTON_SIZE *0.2;
}

.controller__moveforward{
  @include fakeButton();
  left:$BUTTON_SIZE * 1;
  bottom:$BUTTON_SIZE * 1;
}
.controller__moveleft{
  @include fakeButton();
  left:$BUTTON_SIZE * 0;
  bottom:$BUTTON_SIZE * 0;
}
.controller__movebackward{
  @include fakeButton();
  left:$BUTTON_SIZE * 1;
  bottom:$BUTTON_SIZE * 0;

}
.controller__moveright{
  @include fakeButton();
  left:$BUTTON_SIZE * 2;
  bottom:$BUTTON_SIZE * 0;
}

.controller__cameraup{
  @include fakeButton();
  right:$BUTTON_SIZE * 1;
  bottom:$BUTTON_SIZE * 1;
}
.controller__cameraleft{
  @include fakeButton();
  right:$BUTTON_SIZE * 2;
  bottom:$BUTTON_SIZE * 0;
}
.controller__cameradown{
  @include fakeButton();
  right:$BUTTON_SIZE * 1;
  bottom:$BUTTON_SIZE * 0;

}
.controller__cameraright{
  @include fakeButton();
  right:$BUTTON_SIZE * 0;
  bottom:$BUTTON_SIZE * 0;
}

.controller__mute{
  @include fakeButton();
  left:$BUTTON_SIZE * 0;
  top:$BUTTON_SIZE * 0;
}


